#home {
  text-align: center;
}

#home h2 {
  margin-bottom: 20px;
}

#home h2:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(25%, #666666), color-stop(50%, black), color-stop(75%, #666666), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #666666, black, #666666, rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, top left, top right, from(rgba(0, 0, 0, 0)), color-stop(#666666), color-stop(black), color-stop(#666666), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0), #666666, black, #666666, rgba(0, 0, 0, 0));
}

#home h4 {
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  margin: 0 auto;
}