#home{
	height: 1500px;
	text-align: center;
	h2{
		margin-bottom: 20px;
		
	}
	h4{		
		height: 40px;
		line-height: 40px;
		max-width: 200px;
		margin: 0 auto;
		margin-bottom: 10px;
		$c2:rgba(darken($c2,20%),.5);
		@include radial-gradient(top,$c2,darken($c2,30%));
	}
}