/*
***MEDIA-QUERIES
*/
	.mw480,.mw481{ @include transition(opacity .5s); }

	/* 1024p */
	@media screen and (min-width: 1025px) {
		.mw1024{display: none; }	
	}
	@media screen and (max-width: 1024px) {
		.mw1024{display: inherit; }	
	}

	/* 640p */
	@media screen and (min-width: 769px) {
		.mw640{display: none; }	
		.mw641{display: inherit; }	
		
	}
	@media screen and (max-width: 768px) {
		.mw640{display: inherit; }
		.mw641{display: none; }	

		#header-logo-container{
			left:35% !important;
		}	
		#menu{
			position: fixed;
			z-index: 3;
			width: 210px;
			height: auto;
			left: -210px;
			top: 67px;
			opacity: 0;
			padding: 5px 5px;
			border:1px solid;
			border-radius:2px;
			@include linear-gradient(-10deg,darken($c,5%),darken($c,25%));		
			@include transition(left .5s .2s,opacity .6s .2s);
			li{
				float: none;
				margin: 2px 5px;				
				height: 40px;
				line-height: 40px;
			}
		}
		#nav-menu:hover ~ #menu,#menu:hover{
			
			left:5px !important;
			opacity: 1 !important;
			
		}
		#nav-user-info span{
			width: 20px;		
		}
		#nav-user-name:after{
			opacity:0;
			@include transition(opacity 0s);
		}
	}

	/* 480p */
	@media screen and (min-width: 481px) {
		.mw480{	display: none; }
		.mw481{ display: inherit;  }		
	}
	@media screen and (max-width: 480px) {
		.mw480{ display: inherit; }
		.mw481{	display: none; }	
	}


	
					
				
	