/*
***NAVIGATION
*/

	/*
	*HEADER
	*/	
		
		header{
			position: fixed;
			top: 0;
			width: 100%;
			height: 100px;
			border-bottom: 1px solid darken($c,40%);
			z-index: 2;		
			background: $c;
			@include box-sizing(border-box);
			@include radial-gradient(top,white,$c,darken($c,5%) 99%);
			@include transition(top .5s .2s,height .5s .2s,box-shadow .5s);
			
				
				
			.btn{
				box-shadow:	0 0 2px 0px black;
			}
			&:hover{
			/* 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
    			filter: gray; 
    			filter: grayscale(100%); 
    			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\' x=\'0\' y=\'0\'>  <feGaussianBlur in=\'SourceGraphic\' stdDeviation="15" />  </filter></svg>#grayscale"); */
			}
			/* h1{
				color:darken($c,20%);
				text-shadow:-1px -1px 0 $c,
							-1px -2px 0 $c,
							-2px -1px 0 $c,
							-2px -2px 0 $c,
							-3px -2px 0 $c,
							-3px -3px 2px black,
							-4px -3px 2px black;
				font-family: 'Kavoon', sans-serif;
				-webkit-text-stroke:1px lighten($c,5%);
				position: absolute;
				top: 25px;
				left: 50%;
				margin-left: -83px;	
				@include transition(left .5s,margin-left .5s);	
				//@include animation(neon 3s linear infinite);
				
			} */
			.logo-style{				
				background: #000;
				box-shadow: 0 0 1px 0;						
				position: absolute;
				width: 2px;
				display: inline-block;	
				@include transition(transform .5s,height .5s .2s);		
			}

			#header-logo-container{
				
				position: absolute;	
				left: 50%;
				padding: 0 100px;
				margin-left: -120px;
				width: 40px;
				height: 100%;
				@include transition(margin-left .5s,left .5s);
				&:before,&:after{
					@extend .logo-style;
					content:'';
					margin-top: 30px;	
					height: 40px;
				}
				&:after{				
					margin-left: 40px;
				}
				#header-logo{									
					top: 10px;	
					left: 50%;			
					height: 80px;			
					@extend .logo-style;
					
					&:before,&:after{
						content:'';
						margin-top: 10px;
						height: 60px;				
						@extend .logo-style;
					}
					&:before{
						margin-left: 10px;
					}
					&:after{
						margin-left: -10px;
					}					
				}
				span{
					position: absolute;
					padding-bottom:10px;
					top: 40px;
					left: 80px;
					opacity: 0;
					text-transform: uppercase;
					@include transition(opacity .2s,left .5s);
				}
				&:hover{
					$at:1s .2s;
					$af:infinite;
					$am:linear;
					margin-left: -160px;
					@include transition(margin-left .5s .2s);
					span{ 
						opacity: 1;
						left: 160px;
						@include transition(opacity .5s .2s,left .5s .2s);
					}
					#header-logo{
						&:before{
							@include animation(lh1 $at $am $af);
						}
						&:after{
							@include animation(lh2 $at $am $af);
						}						
					}
					&:after{
						@include animation(lh3 $at $am $af);
					}
					&:before{
						@include animation(lh4 $at $am $af);
					}
				}
				
			}
			.header-logo-load{
				$at:1s;
				$af:infinite;
				$am:linear;
				
				#header-logo{
					&:before{
						@include animation(lh1 $at $am $af);
					}
					&:after{
						@include animation(lh2 $at $am $af);
					}					
				}
				&:after{ 
					@include animation(lh3 $at $am $af);
				}
				&:before{
					@include animation(lh4 $at $am $af);
				}
			}
			
			
			

			
			
		}
		.header-min{
			height: 70px;	
			top: -30px;		
			box-shadow:0 0 2px 0px black;
			#header-logo{
				height: 60px !important;
				&:before,&:after{
					height: 50px !important;
				}
			}
		}
		
		#nav-exit{
			width: 40px;
			height: 100%;
			float: right;						
			&:before{
				content:'\f011';
				position: relative;
				display:inline-block;
				font-family: FontAwesome;
				font-size: 25px;
				height: 100px;
				width: 40px;
				color:$c;	
				line-height: 100px;
				text-align: center;
				@include stroke(0,1px,black);
			}
		}

		/*USER INFO*/
			#nav-user-info{
				position: relative;
				height: 100%;
				float: right;
				margin-right: 1px;
				display: inline-flex;
				span{
					width: 85px;
					float: left;
					margin: 0 10px;
					line-height: 100px;
					text-align: center;	
					text-shadow:0 0 1px black;		
					overflow: hidden;
					@include transition(width .5s);		
					&:before{
						color:$c;
						padding:0 5px;
						font-family: FontAwesome;
					}
				}
			}
			#nav-user-name::before{	content:'\f007'; }
			#nav-user-stockage::before{ content: '\f0a0'; }
			
			
			#nav-user-name:after{
				content:'';
				position: absolute;
				display: inline-block;
				width: 1px;
				height: 20px;
				margin-top: 40px;
				margin-left: 15px;
				background: rgba(black,.4);
				box-shadow:0 0 1px 0 rgba(black,.4);
				@include transition(opacity .5s .5s);
			}
			
		
				

	/*MENU*/	
		#nav-menu{
			position: relative;
			width: 40px;
			height: 100%;
			float: left;			
			line-height: 75px;		
			&:before{
				content: '\f085';
				position: relative;
				display: inline-block;
				font-family: FontAwesome;
				font-size: 25px;
				color:$c;
				padding: 7px 5px;	
				@include stroke(0,1px,black);				
			}			
		}	
		
		#menu{
			position: relative;
			float: left;
			height: 100%;
			@include box-sizing(border-box);
			li{					
				float: left;
				margin-right: 1px;		
				min-width: 80px;
				line-height: 100px;
				height: 100%;
				@include box-sizing(border-box);
				span{				
					width: 100%;
					text-align: center;	
					display: inline-block;
				}		
			}
		}