@import 'bourbon';
/*
*** VARS
*/
$c:#efefef;
$c2:aquamarine;

/*
***MIXINS
*/
	@mixin stroke($to,$tb,$tc){	
		text-shadow: $to+px $to+px $tb $tc,
					 -$to+px $to+px $tb $tc,
					 -$to+px (-$to)+px $tb $tc,
					 $to+px (-$to)+px $tb $tc;
	}
	@mixin logoHover($v,$x,$name){
		@include keyframes($name){
			0%,50%,100% {
	       		@include transform(translate(0));
		    }
		    25% {
	       		@include transform(translate($v*$x));
		    }
		    75% {
	       		@include transform(translate($v*(-$x*2)));
		    }
		}
	}
/*
***ANIMATIONS
*/
	$x:4px;
	@include logoHover(1,$x,lh1);			
	@include logoHover(-1,$x,lh2);
	@include logoHover(2,$x,lh3);
	@include logoHover(-2,$x,lh4);

	@include keyframes(rotate){
		from{
			@include transform(rotate(0deg));
		}
		to{
			@include transform(rotate(360deg));
		}
	}
	@include keyframes(fadeOut){
		0%{ opacity: 1; }
		100%{ opacity: 0; }
	}
	@include keyframes(fadeIn){
		0%{ opacity: 0; }
		100%{ opacity: 1; }
	}
	@include keyframes(progressBar){
		0% {
       		background-position: 0 0;
	    }
	    100% {
       		background-position: 50px 50px;
	    }
	}
	@include keyframes(progressWidth){
		0%{width: 0%;opacity: 0;}
		10%{width: 0%;opacity: 1;}
		20%{width: 30%;}
		30%{width: 35%;}
		40%{width: 60%;}
		90%{width: 100%;opacity: 1;}
		100%{width: 100%; opacity: 0;}
	}

	$tsc:rgba(lighten($c,30%),1);
	@include keyframes(neon){
		0%,30%,100%{@include stroke(2,6px,rgba($tsc,.6));}
		10%{@include stroke(2,8px,rgba($tsc,1));}
	}


/*
*** IMPORT
*/
@import 'components.scss';
@import 'navigation.scss';
@import 'home.scss';

/*
***GENERALS
*/
	
	p,h6,h5,h4,h3,h2,h1,span,div{margin: 0;font-family: 'Raleway', sans-serif; font-weight: 200; text-shadow:0 0 1px;}
	h2{font-weight: 400;}
	p,h6,h5,h4,h3,h2,h1,.cursor-off{ cursor:default; }
	li,.cursor-on{ cursor:pointer; }	
	
	html{
		min-height: 100%;
		position: relative;			
	}
	
	body{
		width: 100%;
		height: 100%;
		margin:0;
		padding: 0;
		padding-bottom: 195px;
		display: inline-block;
		@include linear-gradient(-10deg,darken($c,25%),rgba(aquamarine,.5));		
	}
	
/*
*** IMPORT MEDIA
*/
@import 'media.scss';

	
