/*
*** VARS
*/

/*
***MIXINS
*/

/*
***ANIMATIONS
*/

@-webkit-keyframes lh1 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(5.5px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(-11px, 0, 0);
  }
}

@keyframes lh1 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(5.5px, 0, 0);
    -ms-transform: translate3D(5.5px, 0, 0);
    transform: translate3D(5.5px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(-11px, 0, 0);
    -ms-transform: translate3D(-11px, 0, 0);
    transform: translate3D(-11px, 0, 0);
  }
}

@-webkit-keyframes lh2 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(-5.5px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(11px, 0, 0);
  }
}

@keyframes lh2 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(-5.5px, 0, 0);
    -ms-transform: translate3D(-5.5px, 0, 0);
    transform: translate3D(-5.5px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(11px, 0, 0);
    -ms-transform: translate3D(11px, 0, 0);
    transform: translate3D(11px, 0, 0);
  }
}

@-webkit-keyframes lh3 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(11px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(-22px, 0, 0);
  }
}

@keyframes lh3 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(11px, 0, 0);
    -ms-transform: translate3D(11px, 0, 0);
    transform: translate3D(11px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(-22px, 0, 0);
    -ms-transform: translate3D(-22px, 0, 0);
    transform: translate3D(-22px, 0, 0);
  }
}

@-webkit-keyframes lh4 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(-11px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(22px, 0, 0);
  }
}

@keyframes lh4 {
  0%, 50%, 100% {
    -webkit-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
  }

  25% {
    -webkit-transform: translate3D(-11px, 0, 0);
    -ms-transform: translate3D(-11px, 0, 0);
    transform: translate3D(-11px, 0, 0);
  }

  75% {
    -webkit-transform: translate3D(22px, 0, 0);
    -ms-transform: translate3D(22px, 0, 0);
    transform: translate3D(22px, 0, 0);
  }
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}

@-webkit-keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
  }

  10% {
    width: 0%;
    opacity: 1;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
  }

  10% {
    width: 0%;
    opacity: 1;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 100%;
    opacity: 0;
  }
}

@-webkit-keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.6), -2px 2px 6px rgba(255, 255, 255, 0.6), -2px -2px 6px rgba(255, 255, 255, 0.6), 2px -2px 6px rgba(255, 255, 255, 0.6);
  }

  10% {
    text-shadow: 2px 2px 8px white, -2px 2px 8px white, -2px -2px 8px white, 2px -2px 8px white;
  }
}

@keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.6), -2px 2px 6px rgba(255, 255, 255, 0.6), -2px -2px 6px rgba(255, 255, 255, 0.6), 2px -2px 6px rgba(255, 255, 255, 0.6);
  }

  10% {
    text-shadow: 2px 2px 8px white, -2px 2px 8px white, -2px -2px 8px white, 2px -2px 8px white;
  }
}

/*
*** IMPORT
*/

/*
*** BUTTON
*/

.btn {
  -webkit-box-shadow: 0 0 2px 0px black, inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 0px black, inset 1px 1px 1px 0 rgba(255, 255, 255, 0.5), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 0.5s, -webkit-transform 0.5s;
  transition: box-shadow 0.5s, transform 0.5s;
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.btn:hover {
  -webkit-transform: translate3D(0, 1px, 0);
  -ms-transform: translate3D(0, 1px, 0);
  transform: translate3D(0, 1px, 0);
  -webkit-box-shadow: 0 0px 2px 0px black;
  box-shadow: 0 0px 2px 0px black;
}

/*
***SECTION
*/

#main-section {
  margin-top: 100px;
  width: 100%;
}

section {
  position: relative;
  padding: 20px 12.5%;
  width: 100%;
  float: left;
  overflow: auto;
  cursor: default;
  -webkit-box-shadow: 0 0 1px 0 black;
  box-shadow: 0 0 1px 0 black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

section:nth-of-type(2n + 1) {
  background-color: white;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, white), color-stop(50%, #fafafa), color-stop(99%, #e6e6e6));
  background-image: -webkit-radial-gradient(top, white, #fafafa, #e6e6e6 99%);
  background-image: -webkit-radial-gradient(at top, white, #fafafa, #e6e6e6 99%);
  background-image: radial-gradient(  at top, white, #fafafa, #e6e6e6 99%);
}

section:nth-of-type(2n + 2) {
  background-color: white;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, white), color-stop(50%, #efefef), color-stop(99%, #d5d5d5));
  background-image: -webkit-radial-gradient(top, white, #efefef, #d5d5d5 99%);
  background-image: -webkit-radial-gradient(at top, white, #efefef, #d5d5d5 99%);
  background-image: radial-gradient(  at top, white, #efefef, #d5d5d5 99%);
}

section .title:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
  background-color: rgba(0, 0, 0, 0);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(25%, #666666), color-stop(50%, black), color-stop(75%, #666666), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), #666666, black, #666666, rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, top left, top right, from(rgba(0, 0, 0, 0)), color-stop(#666666), color-stop(black), color-stop(#666666), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0), #666666, black, #666666, rgba(0, 0, 0, 0));
}

section .text {
  margin: 5px 15px;
}

.two-row {
  width: 50%;
  padding: 5px 5%;
}

.third-row {
  width: 33.333%;
  padding: 5px 2.5%;
}

.mh-100 {
  min-height: 100px;
}

/*PROGRESS BAR*/

.meter {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: 5px;
  height: 8px;
  cursor: wait;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.4);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8), 0 0 3px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.8), 0 0 3px 1px rgba(0, 0, 0, 0.6);
}

.meter span {
  display: block;
  position: relative;
  height: 100%;
  -webkit-animation: progressWidth 10s infinite;
  animation: progressWidth 10s infinite;
  background: #969696;
}

.meter span:before {
  content: '';
  position: absolute;
  border-radius: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-background-size: 50px 50px;
  background-size: 50px 50px;
  overflow: hidden;
  -webkit-box-shadow: inset -1px -1px 1px 0px black, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.6);
  box-shadow: inset -1px -1px 1px 0px black, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.6);
  -webkit-animation: progressBar 2s linear infinite;
  animation: progressBar 2s linear infinite;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, transparent), color-stop(25%, #e2e2e2), color-stop(50%, #e2e2e2), color-stop(50%, transparent), color-stop(75%, transparent), color-stop(75%, #e2e2e2), color-stop(100%, #e2e2e2));
  background-image: -webkit-linear-gradient(-225deg, transparent 25%, #e2e2e2 25%, #e2e2e2 50%, transparent 50%, transparent 75%, #e2e2e2 75%, #e2e2e2);
  background-image: -webkit-linear-gradient(135deg, transparent 25%, #e2e2e2 25%, #e2e2e2 50%, transparent 50%, transparent 75%, #e2e2e2 75%, #e2e2e2);
  background-image: linear-gradient(-45deg,transparent 25%, #e2e2e2 25%, #e2e2e2 50%, transparent 50%, transparent 75%, #e2e2e2 75%, #e2e2e2);
}

/*
***FOOTER
*/

footer {
  position: absolute;
  border-top: 1px solid #898989;
  bottom: 0;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 0 4px 2px black;
  box-shadow: 0 0 4px 2px black;
  background-color: #f2f2f2;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, #f2f2f2), color-stop(100%, white));
  background-image: -webkit-radial-gradient(bottom, #f2f2f2, white);
  background-image: -webkit-radial-gradient(at bottom, #f2f2f2, white);
  background-image: radial-gradient(  at bottom, #f2f2f2, white);
  opacity: .7;
}

footer:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, rgba(0, 0, 0, 0.25)));
  background-image: -webkit-linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%);
  background-image: -webkit-gradient(linear, top left, bottom left, from(transparent), to(rgba(0, 0, 0, 0.25)));
  background-image: linear-gradient(transparent 50%, rgba(0, 0, 0, 0.25) 50%);
  -webkit-background-size: 100% 3px;
  background-size: 100% 3px;
  pointer-events: none;
}

#footer_earth {
  position: absolute;
  z-index: -999;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#footer_earth:after {
  content: '\f0ac';
  z-index: -1;
  position: absolute;
  font-family: FontAwesome;
  font-size: 500px;
  bottom: -300px;
  right: -120px;
  color: #efefef;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6), -1px 1px 2px rgba(0, 0, 0, 0.6), -1px -1px 2px rgba(0, 0, 0, 0.6), 1px -1px 2px rgba(0, 0, 0, 0.6);
}

/*
*** 404
*/

#page_404 {
  position: absolute;
  top: 100px;
  width: 100%;
  height: -webkit-calc(100% - 150px);
  height: calc(100% - 150px);
  z-index: 1;
  background-color: rgba(128, 0, 0, 0.9);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(128, 0, 0, 0.9)), color-stop(100%, rgba(230, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(-280deg, rgba(128, 0, 0, 0.9), rgba(230, 0, 0, 0.2));
  background-image: -webkit-linear-gradient(80deg, rgba(128, 0, 0, 0.9), rgba(230, 0, 0, 0.2));
  background-image: linear-gradient(10deg,rgba(128, 0, 0, 0.9), rgba(230, 0, 0, 0.2));
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#page_404 .btn {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  text-align: center;
  background: #ff0a0a;
  font-size: 30px;
}

#page_404 h1,
#page_404 h2 {
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}

#page_404 h1 {
  margin-top: 50px;
  font-size: 10vw;
}

#page_404 h2 {
  font-size: 3vw;
}

/*
***NAVIGATION
*/

/*
*HEADER
*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #898989;
  z-index: 2;
  background: #efefef;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, white), color-stop(50%, #efefef), color-stop(99%, #e2e2e2));
  background-image: -webkit-radial-gradient(top, white, #efefef, #e2e2e2 99%);
  background-image: -webkit-radial-gradient(at top, white, #efefef, #e2e2e2 99%);
  background-image: radial-gradient(  at top, white, #efefef, #e2e2e2 99%);
  -webkit-transition: height 0.5s, -webkit-box-shadow 0.5s;
  transition: height 0.5s, box-shadow 0.5s;
}

header .btn {
  -webkit-box-shadow: 0 0 2px 0px black;
  box-shadow: 0 0 2px 0px black;
}

header:hover {
  /* 	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); 
        			filter: gray; 
        			filter: grayscale(100%); */
}

header .logo-style,
header #header-logo-container:before,
header #header-logo-container:after,
header #header-logo-container #header-logo,
header #header-logo-container #header-logo:before,
header #header-logo-container #header-logo:after {
  background: #000;
  -webkit-box-shadow: 0 0 1px 0;
  box-shadow: 0 0 1px 0;
  position: absolute;
  width: 2px;
  display: inline-block;
  -webkit-transition: -webkit-transform 0.5s, height 0.5s;
  transition: transform 0.5s, height 0.5s;
}

header #header-logo-container {
  position: absolute;
  left: 50%;
  padding: 0 100px;
  margin-left: -120px;
  width: 40px;
  height: 100%;
  -webkit-transition: margin-left 0.5s, left 0.5s;
  transition: margin-left 0.5s, left 0.5s;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}

header #header-logo-container:before,
header #header-logo-container:after {
  content: '';
  margin-top: 30px;
  height: 40px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}

header #header-logo-container:after {
  margin-left: 40px;
}

header #header-logo-container #header-logo {
  top: 10px;
  left: 50%;
  height: 80px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}

header #header-logo-container #header-logo:before,
header #header-logo-container #header-logo:after {
  content: '';
  margin-top: 10px;
  height: 60px;
  -webkit-perspective: 900px;
  -ms-perspective: 900px;
  perspective: 900px;
}

header #header-logo-container #header-logo:before {
  margin-left: 10px;
}

header #header-logo-container #header-logo:after {
  margin-left: -10px;
}

header #header-logo-container span {
  position: absolute;
  padding-bottom: 10px;
  top: 40px;
  left: 80px;
  opacity: 0;
  text-transform: uppercase;
  -webkit-transition: opacity 0.2s, left 0.5s;
  transition: opacity 0.2s, left 0.5s;
}

header #header-logo-container:hover {
  margin-left: -160px;
  -webkit-transition: margin-left 0.5s 0.2s;
  transition: margin-left 0.5s 0.2s;
}

header #header-logo-container:hover span {
  opacity: 1;
  left: 160px;
  -webkit-transition: opacity 0.5s 0.2s, left 0.5s 0.2s;
  transition: opacity 0.5s 0.2s, left 0.5s 0.2s;
}

header #header-logo-container:hover #header-logo:before {
  -webkit-animation: lh1 1s 0.5s linear infinite;
  animation: lh1 1s 0.5s linear infinite;
}

header #header-logo-container:hover #header-logo:after {
  -webkit-animation: lh2 1s 0.5s linear infinite;
  animation: lh2 1s 0.5s linear infinite;
}

header #header-logo-container:hover:after {
  -webkit-animation: lh3 1s 0.5s linear infinite;
  animation: lh3 1s 0.5s linear infinite;
}

header #header-logo-container:hover:before {
  -webkit-animation: lh4 1s 0.5s linear infinite;
  animation: lh4 1s 0.5s linear infinite;
}

header .header-logo-load #header-logo:before {
  -webkit-animation: lh1 1s linear infinite;
  animation: lh1 1s linear infinite;
}

header .header-logo-load #header-logo:after {
  -webkit-animation: lh2 1s linear infinite;
  animation: lh2 1s linear infinite;
}

header .header-logo-load:after {
  -webkit-animation: lh3 1s linear infinite;
  animation: lh3 1s linear infinite;
}

header .header-logo-load:before {
  -webkit-animation: lh4 1s linear infinite;
  animation: lh4 1s linear infinite;
}

.header-min {
  height: 70px;
  -webkit-box-shadow: 0 0 2px 0px black;
  box-shadow: 0 0 2px 0px black;
}

.header-min #header-logo {
  height: 60px !important;
}

.header-min #header-logo:before,
.header-min #header-logo:after {
  height: 50px !important;
}

#nav-exit {
  width: 40px;
  height: 100%;
  float: right;
}

#nav-exit:before {
  content: '\f011';
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 25px;
  height: 100px;
  width: 40px;
  color: #efefef;
  line-height: 100px;
  text-align: center;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

/*USER INFO*/

#nav-user-info {
  position: relative;
  height: 100%;
  float: right;
  margin-right: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#nav-user-info span {
  width: 85px;
  float: left;
  margin: 0 10px;
  line-height: 100px;
  text-align: center;
  text-shadow: 0 0 1px black;
  overflow: hidden;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

#nav-user-info span:before {
  color: #efefef;
  padding: 0 5px;
  font-family: FontAwesome;
}

#nav-user-name::before {
  content: '\f007';
}

#nav-user-stockage::before {
  content: '\f0a0';
}

#nav-user-name:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-top: 40px;
  margin-left: 15px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.4);
  -webkit-transition: opacity 0.5s 0.5s;
  transition: opacity 0.5s 0.5s;
}

/*MENU*/

#nav-menu {
  position: relative;
  width: 40px;
  height: 100%;
  float: left;
  line-height: 75px;
  -webkit-transition: opacity 0.5s, display 0s 0.5s, background 0.5s;
  transition: opacity 0.5s, display 0s 0.5s, background 0.5s;
}

#nav-menu:before {
  content: '\f085';
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  font-size: 25px;
  color: #efefef;
  padding: 7px 5px;
  text-shadow: 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black, 0px 0px 1px black;
}

#menu {
  position: relative;
  float: left;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu li {
  float: left;
  margin-right: 1px;
  min-width: 80px;
  line-height: 100px;
  height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#menu li span {
  width: 100%;
  text-align: center;
  display: inline-block;
}

#home {
  text-align: center;
}

#home h2 {
  margin-bottom: 20px;
}

#home h4 {
  height: 40px;
  line-height: 40px;
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: rgba(25, 255, 178, 0.5);
  background-image: -webkit-gradient(radial, center center, 0, center center, 460, color-stop(0%, rgba(25, 255, 178, 0.5)), color-stop(100%, rgba(0, 127, 84, 0.5)));
  background-image: -webkit-radial-gradient(top, rgba(25, 255, 178, 0.5), rgba(0, 127, 84, 0.5));
  background-image: -webkit-radial-gradient(at top, rgba(25, 255, 178, 0.5), rgba(0, 127, 84, 0.5));
  background-image: radial-gradient(  at top, rgba(25, 255, 178, 0.5), rgba(0, 127, 84, 0.5));
}

#home img {
  width: 100%;
}

#plan {
  max-width: 1000px;
  margin: 0 auto;
}

#plan section {
  text-align: center;
}

#plan .btn {
  height: 40px;
  line-height: 40px;
}

/*
***GENERALS
*/

p,
h6,
h5,
h4,
h3,
h2,
h1,
span,
div {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-shadow: 0 0 1px;
}

h2 {
  font-weight: 400;
}

p,
h6,
h5,
h4,
h3,
h2,
h1,
.cursor-off {
  cursor: default;
}

li,
.cursor-on {
  cursor: pointer;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  padding-bottom: 95px;
  display: inline-block;
  background-position: 0 100px;
  background-color: #afafaf;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #afafaf), color-stop(100%, rgba(25, 255, 178, 0.6)));
  background-image: -webkit-linear-gradient(-255deg, #afafaf, rgba(25, 255, 178, 0.6));
  background-image: -webkit-linear-gradient(105deg, #afafaf, rgba(25, 255, 178, 0.6));
  background-image: linear-gradient(-15deg,#afafaf, rgba(25, 255, 178, 0.6));
}

/*
*** IMPORT MEDIA
*/

/*
***MEDIA-QUERIES
*/

.mw480,
.mw481 {
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* 1024p */

@media screen and (min-width: 1025px) {
  .mw1024 {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .mw1024 {
    display: inherit;
  }
}

/* 640p */

@media screen and (min-width: 769px) {
  .mw640 {
    display: none;
  }

  .mw641 {
    display: inherit;
  }
}

@media screen and (max-width: 768px) {
  .mw640 {
    display: inherit;
  }

  .mw641 {
    display: none;
  }

  #header-logo-container {
    left: 35% !important;
  }

  #menu {
    position: fixed;
    z-index: 3;
    width: 210px;
    height: auto;
    left: -210px;
    top: 67px;
    opacity: 0;
    padding: 5px 5px;
    border: 1px solid;
    border-radius: 2px;
    background-color: #e2e2e2;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e2e2e2), color-stop(100%, #afafaf));
    background-image: -webkit-linear-gradient(-260deg, #e2e2e2, #afafaf);
    background-image: -webkit-linear-gradient(100deg, #e2e2e2, #afafaf);
    background-image: linear-gradient(-10deg,#e2e2e2, #afafaf);
    -webkit-transition: left 0.5s 0.2s, opacity 0.6s 0.2s;
    transition: left 0.5s 0.2s, opacity 0.6s 0.2s;
  }

  #menu li {
    float: none;
    margin: 2px 5px;
    height: 40px;
    line-height: 40px;
  }

  #nav-menu:hover ~ #menu,
  #menu:hover {
    left: 5px !important;
    opacity: 1 !important;
  }

  #nav-user-info span {
    width: 20px;
  }

  #nav-user-name:after {
    opacity: 0;
    -webkit-transition: opacity 0s;
    transition: opacity 0s;
  }
}

/* 480p */

@media screen and (min-width: 481px) {
  .mw480 {
    display: none;
  }

  .mw481 {
    display: inherit;
  }
}

@media screen and (max-width: 480px) {
  .mw480 {
    display: inherit;
  }

  .mw481 {
    display: none;
  }
}