@-moz-keyframes ty1 {
  0%, 15%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  5% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes ty1 {
  0%, 15%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  5% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-o-keyframes ty1 {
  0%, 15%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  5% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-ms-keyframes ty1 {
  0%, 15%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  5% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes ty1 {
  0%, 15%, 100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  5% {
    -webkit-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
  }

  10% {
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    -o-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
/*
***GENERALS
*/
li,
div,
span {
  font-size: 14px;
}
p,
h6,
h5,
h4,
h3,
h2,
h1,
li,
span,
div,
button {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  text-shadow: 0 0 1px;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  color: #2c3e50;
}
h2 {
  font-weight: 400;
}
*:before,
*:after {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}
p,
h6,
h5,
h4,
h3,
h2,
h1,
.cursor-off {
  cursor: default;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
li,
.cursor-on {
  cursor: pointer;
}
html {
  min-height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(105deg, rgba(25,25,112,0.8), rgba(0,206,209,0.8));
  background: -moz-linear-gradient(105deg, rgba(25,25,112,0.8), rgba(0,206,209,0.8));
  background: -o-linear-gradient(105deg, rgba(25,25,112,0.8), rgba(0,206,209,0.8));
  background: -ms-linear-gradient(105deg, rgba(25,25,112,0.8), rgba(0,206,209,0.8));
  background: linear-gradient(-15deg, rgba(25,25,112,0.8), rgba(0,206,209,0.8));
}
body {
  width: 100%;
margin0
  padding: 0;
  padding-bottom: 50px;
  display: inline-block;
  -webkit-transition: -webkit-transform 1s 0.5s ease-in-out;
  -moz-transition: -moz-transform 1s 0.5s ease-in-out;
  -o-transition: -o-transform 1s 0.5s ease-in-out;
  -ms-transition: -ms-transform 1s 0.5s ease-in-out;
  transition: transform 1s 0.5s ease-in-out;
}
body:before {
  content: '';
  z-index: -1;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: -webkit-radial-gradient(rgba(0,255,255,0.15) 2%, rgba(75,0,130,0.2) 70%);
  background: -moz-radial-gradient(rgba(0,255,255,0.15) 2%, rgba(75,0,130,0.2) 70%);
  background: -o-radial-gradient(rgba(0,255,255,0.15) 2%, rgba(75,0,130,0.2) 70%);
  background: -ms-radial-gradient(rgba(0,255,255,0.15) 2%, rgba(75,0,130,0.2) 70%);
  background: radial-gradient(rgba(0,255,255,0.15) 2%, rgba(75,0,130,0.2) 70%);
}
body:after {
  content: '';
  z-index: -1;
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-position: 0 100px;
  background: -webkit-linear-gradient(transparent 50%, rgba(0,0,0,0.2) 50%);
  background: -moz-linear-gradient(transparent 50%, rgba(0,0,0,0.2) 50%);
  background: -o-linear-gradient(transparent 50%, rgba(0,0,0,0.2) 50%);
  background: -ms-linear-gradient(transparent 50%, rgba(0,0,0,0.2) 50%);
  background: linear-gradient(transparent 50%, rgba(0,0,0,0.2) 50%);
  -webkit-background-size: 100% 3px;
  -moz-background-size: 100% 3px;
  background-size: 100% 3px;
  pointer-events: none;
}
.debug-css {
  outline: 1px #e74c3c solid;
}
.debug-css * {
  outline: 1px #e74c3c solid;
}
.debug-css *:before,
.debug-css *:after {
  outline: 1px #ff0 solid;
}
button {
  line-height: 0 !important;
}
.btn {
  -webkit-box-shadow: 0 0 2px 0px #000, inset 1px 1px 1px 0 rgba(255,255,255,0.6), inset -1px -1px 1px 0 rgba(0,0,0,0.4);
  box-shadow: 0 0 2px 0px #000, inset 1px 1px 1px 0 rgba(255,255,255,0.6), inset -1px -1px 1px 0 rgba(0,0,0,0.4);
  -webkit-border-radius: 1px;
  border-radius: 1px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: background-position 1s, -webkit-transform 0.5s, border 0.5s, box-shadow 0.5s, margin-top 0.5s 0.2s;
  -moz-transition: background-position 1s, -moz-transform 0.5s, border 0.5s, box-shadow 0.5s, margin-top 0.5s 0.2s;
  -o-transition: background-position 1s, -o-transform 0.5s, border 0.5s, box-shadow 0.5s, margin-top 0.5s 0.2s;
  -ms-transition: background-position 1s, -ms-transform 0.5s, border 0.5s, box-shadow 0.5s, margin-top 0.5s 0.2s;
  transition: background-position 1s, transform 0.5s, border 0.5s, box-shadow 0.5s, margin-top 0.5s 0.2s;
  text-align: center;
}
.btn:hover {
  -webkit-transform: translate3D(0, 1px, 0);
  -moz-transform: translate3D(0, 1px, 0);
  -o-transform: translate3D(0, 1px, 0);
  -ms-transform: translate3D(0, 1px, 0);
  transform: translate3D(0, 1px, 0);
  -webkit-box-shadow: 0 0 2px 0px #000, inset 1px 1px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 1px 0 rgba(0,0,0,0.1);
  box-shadow: 0 0 2px 0px #000, inset 1px 1px 1px 0 rgba(255,255,255,0.1), inset -1px -1px 1px 0 rgba(0,0,0,0.1);
}
.text-btn:before {
  content: attr(data-uri);
  width: 100%;
  font-family: 'Raleway' sans-serif;
  font-weight: 100;
  text-shadow: 0 0 1px;
  text-align: center;
  display: inline-block;
}
.alert {
  position: relative;
  width: 100%;
  height: 50px;
  line-height: 50px;
  z-index: 1;
  text-align: center;
  -webkit-animation: fadeIn 1s forwards;
  -moz-animation: fadeIn 1s forwards;
  -o-animation: fadeIn 1s forwards;
  -ms-animation: fadeIn 1s forwards;
  animation: fadeIn 1s forwards;
}
.alert-red {
  background: -webkit-radial-gradient(top, #e95e50, #e74c3c, #cf2b1a);
  background: -moz-radial-gradient(top, #e95e50, #e74c3c, #cf2b1a);
  background: -o-radial-gradient(top, #e95e50, #e74c3c, #cf2b1a);
  background: -ms-radial-gradient(top, #e95e50, #e74c3c, #cf2b1a);
  background: radial-gradient(to bottom, #e95e50, #e74c3c, #cf2b1a);
  -webkit-box-shadow: 0 0 2px 0, inset 1px 1px 6px 1px #b52516, inset -1px -1px 6px 1px #ee8277;
  box-shadow: 0 0 2px 0, inset 1px 1px 6px 1px #b52516, inset -1px -1px 6px 1px #ee8277;
}
.alert-green {
  background: -webkit-radial-gradient(top, #40d47f, #2ecc71, #25a35a);
  background: -moz-radial-gradient(top, #40d47f, #2ecc71, #25a35a);
  background: -o-radial-gradient(top, #40d47f, #2ecc71, #25a35a);
  background: -ms-radial-gradient(top, #40d47f, #2ecc71, #25a35a);
  background: radial-gradient(to bottom, #40d47f, #2ecc71, #25a35a);
  -webkit-box-shadow: 0 0 2px 0, inset 1px 1px 6px 1px #208f4f, inset -1px -1px 6px 1px #6ade9b;
  box-shadow: 0 0 2px 0, inset 1px 1px 6px 1px #208f4f, inset -1px -1px 6px 1px #6ade9b;
}
#main-section {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 100px;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
}
section {
  position: relative;
  padding: 20px 12.5%;
  width: 100%;
  overflow: auto;
  cursor: default;
  float: left;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 0 1px 0 #000;
  box-shadow: 0 0 1px 0 #000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
section:nth-of-type(2n + 1) {
  background: -webkit-radial-gradient(top, #fff, #efefef, #d7d7d7 99%);
  background: -moz-radial-gradient(top, #fff, #efefef, #d7d7d7 99%);
  background: -o-radial-gradient(top, #fff, #efefef, #d7d7d7 99%);
  background: -ms-radial-gradient(top, #fff, #efefef, #d7d7d7 99%);
  background: radial-gradient(to bottom, #fff, #efefef, #d7d7d7 99%);
}
section:nth-of-type(2n + 2) {
  background: -webkit-radial-gradient(top, #fff, #fafafa, #e6e6e6 99%);
  background: -moz-radial-gradient(top, #fff, #fafafa, #e6e6e6 99%);
  background: -o-radial-gradient(top, #fff, #fafafa, #e6e6e6 99%);
  background: -ms-radial-gradient(top, #fff, #fafafa, #e6e6e6 99%);
  background: radial-gradient(to bottom, #fff, #fafafa, #e6e6e6 99%);
}
section .btn {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  border: 2px solid #2c3e50;
  background: #fff;
  margin: 10px auto;
  max-width: 200px;
  overflow: hidden;
}
section .btn:after {
  content: "\f054";
  display: inline-block;
  font-family: FontAwesome;
  padding-left: 10px;
  margin-top: 1px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  transition: transform 0.5s;
}
section .btn:hover:after {
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -o-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}
section .title:after {
  content: '';
  position: relative;
  display: inline-block;
  width: 100%;
  height: 2px;
  margin-bottom: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: -webkit-linear-gradient(left, rgba(0,0,0,0), #666, #000, #666, rgba(0,0,0,0));
  background: -moz-linear-gradient(left, rgba(0,0,0,0), #666, #000, #666, rgba(0,0,0,0));
  background: -o-linear-gradient(left, rgba(0,0,0,0), #666, #000, #666, rgba(0,0,0,0));
  background: -ms-linear-gradient(left, rgba(0,0,0,0), #666, #000, #666, rgba(0,0,0,0));
  background: linear-gradient(to right, rgba(0,0,0,0), #666, #000, #666, rgba(0,0,0,0));
}
section .text {
  margin: 5px 15px;
}
.two-row {
  width: 50%;
  padding: 5px 5%;
}
.third-row {
  width: 33.333%;
  padding: 5px 2.5%;
}
.mh-100 {
  min-height: 100px;
}
.meter {
  position: relative;
  margin: 5px;
  height: 8px;
  cursor: wait;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(255,255,255,0.4);
  -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0,0.8), 0 0 3px 1px rgba(0,0,0,0.6);
  box-shadow: 0 0 1px 0 rgba(0,0,0,0.8), 0 0 3px 1px rgba(0,0,0,0.6);
}
.meter span {
  display: block;
  position: relative;
  height: 100%;
  -webkit-animation: progressWidth 10s infinite;
  -moz-animation: progressWidth 10s infinite;
  -o-animation: progressWidth 10s infinite;
  -ms-animation: progressWidth 10s infinite;
  animation: progressWidth 10s infinite;
  background: #9b9b9b;
}
.meter span:before {
  content: '';
  position: absolute;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  overflow: hidden;
  -webkit-box-shadow: inset -1px -1px 1px 0px #000, inset 1px 1px 1px 0px rgba(255,255,255,0.6);
  box-shadow: inset -1px -1px 1px 0px #000, inset 1px 1px 1px 0px rgba(255,255,255,0.6);
  -webkit-animation: progressBar 2s linear infinite;
  -moz-animation: progressBar 2s linear infinite;
  -o-animation: progressBar 2s linear infinite;
  -ms-animation: progressBar 2s linear infinite;
  animation: progressBar 2s linear infinite;
  background-image: -webkit-linear-gradient(135deg, transparent 25%, #e3e3e3 25%, #e3e3e3 50%, transparent 50%, transparent 75%, #e3e3e3 75%, #e3e3e3);
  background-image: -moz-linear-gradient(135deg, transparent 25%, #e3e3e3 25%, #e3e3e3 50%, transparent 50%, transparent 75%, #e3e3e3 75%, #e3e3e3);
  background-image: -o-linear-gradient(135deg, transparent 25%, #e3e3e3 25%, #e3e3e3 50%, transparent 50%, transparent 75%, #e3e3e3 75%, #e3e3e3);
  background-image: -ms-linear-gradient(135deg, transparent 25%, #e3e3e3 25%, #e3e3e3 50%, transparent 50%, transparent 75%, #e3e3e3 75%, #e3e3e3);
  background-image: linear-gradient(-45deg, transparent 25%, #e3e3e3 25%, #e3e3e3 50%, transparent 50%, transparent 75%, #e3e3e3 75%, #e3e3e3);
}
footer {
  position: absolute;
  border-top: 1px solid #8f8f8f;
  bottom: 0;
  width: 100%;
  height: 50px;
  -webkit-box-shadow: 0 0 4px 2px #000;
  box-shadow: 0 0 4px 2px #000;
  background: -webkit-radial-gradient(bottom, #f2f2f2, #fff);
  background: -moz-radial-gradient(bottom, #f2f2f2, #fff);
  background: -o-radial-gradient(bottom, #f2f2f2, #fff);
  background: -ms-radial-gradient(bottom, #f2f2f2, #fff);
  background: radial-gradient(to top, #f2f2f2, #fff);
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
footer:after {
  content: '';
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-radial-gradient(bottom, rgba(24,34,44,0.5), #fff);
  background-image: -moz-radial-gradient(bottom, rgba(24,34,44,0.5), #fff);
  background-image: -o-radial-gradient(bottom, rgba(24,34,44,0.5), #fff);
  background-image: -ms-radial-gradient(bottom, rgba(24,34,44,0.5), #fff);
  background-image: radial-gradient(to top, rgba(24,34,44,0.5), #fff);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
footer .btn {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100%;
  line-height: 50px;
  color: #fff;
  padding: 0 10px;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer .btn:hover {
  background-position: 100px;
}
#debug-css {
  float: left;
  background-image: -webkit-linear-gradient(left, #e74c3c, #e43422);
  background-image: -moz-linear-gradient(left, #e74c3c, #e43422);
  background-image: -o-linear-gradient(left, #e74c3c, #e43422);
  background-image: -ms-linear-gradient(left, #e74c3c, #e43422);
  background-image: linear-gradient(to right, #e74c3c, #e43422);
}
.footer-after:after {
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
#footer-earth {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
#footer-earth:after {
  content: '\f0ac';
  position: absolute;
  font-family: FontAwesome;
  font-size: 500px;
  bottom: -300px;
  right: -120px;
  color: #efefef;
  text-shadow: 1 1 2px rgba(0,0,0,0.6), -1 1 2px rgba(0,0,0,0.6), -2 2px rgba(0,0,0,0.6), 0 2px rgba(0,0,0,0.6);
  -webkit-animation: rotate 180s infinite linear;
  -moz-animation: rotate 180s infinite linear;
  -o-animation: rotate 180s infinite linear;
  -ms-animation: rotate 180s infinite linear;
  animation: rotate 180s infinite linear;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  padding-top: 25px;
  z-index: 2;
  background: #efefef;
  border-bottom: 10px solid #2c3e50;
  background: -webkit-radial-gradient(top, #fff, #efefef, #e3e3e3);
  background: -moz-radial-gradient(top, #fff, #efefef, #e3e3e3);
  background: -o-radial-gradient(top, #fff, #efefef, #e3e3e3);
  background: -ms-radial-gradient(top, #fff, #efefef, #e3e3e3);
  background: radial-gradient(to bottom, #fff, #efefef, #e3e3e3);
  -webkit-transition: border-width 0.5s 0.2s, padding-top 0.5s 0.2s, height 0.5s 0.2s, box-shadow 0.5s;
  -moz-transition: border-width 0.5s 0.2s, padding-top 0.5s 0.2s, height 0.5s 0.2s, box-shadow 0.5s;
  -o-transition: border-width 0.5s 0.2s, padding-top 0.5s 0.2s, height 0.5s 0.2s, box-shadow 0.5s;
  -ms-transition: border-width 0.5s 0.2s, padding-top 0.5s 0.2s, height 0.5s 0.2s, box-shadow 0.5s;
  transition: border-width 0.5s 0.2s, padding-top 0.5s 0.2s, height 0.5s 0.2s, box-shadow 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header .btn {
  overflow: hidden;
  background: #fff;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
header h4 {
  position: relative;
  float: right;
  height: 100%;
  line-height: 40px;
  padding: 0 20px;
}
#header-logo-container {
  position: relative;
  z-index: 3;
  float: left;
  padding: 0 10px;
  text-align: center;
  overflow: hidden;
  -webkit-transition: margin-top 0.5s 0.2s;
  -moz-transition: margin-top 0.5s 0.2s;
  -o-transition: margin-top 0.5s 0.2s;
  -ms-transition: margin-top 0.5s 0.2s;
  transition: margin-top 0.5s 0.2s;
}
#header-logo-container span {
  height: 100%;
  line-height: 40px;
  font-size: 22px;
  letter-spacing: -2px;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 1s 0.2s all ease-in-out;
  -moz-transition: 1s 0.2s all ease-in-out;
  -o-transition: 1s 0.2s all ease-in-out;
  -ms-transition: 1s 0.2s all ease-in-out;
  transition: 1s 0.2s all ease-in-out;
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
/*&:nth-child(n)
			opacity 0		
			//animation ty1 3s 0s+(row/10) ease-in-out infinite
		&:nth-child(1)
			font-size 40px
			opacity 1
			margin-left 40px
		&:nth-child(6)			
			font-size 40px
			opacity 1
			margin-left -70px*/
}
#header-logo-container span:nth-child(1) {
  -webkit-animation: ty1 6s 1.1s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.1s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.1s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.1s ease-in-out infinite !important;
  animation: ty1 6s 1.1s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(2) {
  -webkit-animation: ty1 6s 1.2s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.2s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.2s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.2s ease-in-out infinite !important;
  animation: ty1 6s 1.2s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(3) {
  -webkit-animation: ty1 6s 1.3s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.3s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.3s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.3s ease-in-out infinite !important;
  animation: ty1 6s 1.3s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(4) {
  -webkit-animation: ty1 6s 1.4s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.4s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.4s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.4s ease-in-out infinite !important;
  animation: ty1 6s 1.4s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(5) {
  -webkit-animation: ty1 6s 1.5s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.5s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.5s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.5s ease-in-out infinite !important;
  animation: ty1 6s 1.5s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(6) {
  -webkit-animation: ty1 6s 1.6s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.6s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.6s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.6s ease-in-out infinite !important;
  animation: ty1 6s 1.6s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(7) {
  -webkit-animation: ty1 6s 1.7s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.7s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.7s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.7s ease-in-out infinite !important;
  animation: ty1 6s 1.7s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(8) {
  -webkit-animation: ty1 6s 1.8s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.8s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.8s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.8s ease-in-out infinite !important;
  animation: ty1 6s 1.8s ease-in-out infinite !important;
}
#header-logo-container span:nth-child(9) {
  -webkit-animation: ty1 6s 1.9s ease-in-out infinite !important;
  -moz-animation: ty1 6s 1.9s ease-in-out infinite !important;
  -o-animation: ty1 6s 1.9s ease-in-out infinite !important;
  -ms-animation: ty1 6s 1.9s ease-in-out infinite !important;
  animation: ty1 6s 1.9s ease-in-out infinite !important;
}
.header-min {
  height: 50px;
  padding-top: 5px;
  border-width: 2px;
  -webkit-box-shadow: 0 0 2px 0px #000;
  box-shadow: 0 0 2px 0px #000;
}
#nav-menu {
  position: relative;
  width: 40px;
  height: 40px;
  float: right;
  margin-right: 5px;
}
#nav-menu:before {
  content: '\f0c9';
  position: relative;
  display: inline-block;
  font-family: FontAwesome;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 25px;
  color: #2c3e50;
  padding-top: 0;
}
#menu {
  position: relative;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: margin-top 0.5s 0.2s;
  -moz-transition: margin-top 0.5s 0.2s;
  -o-transition: margin-top 0.5s 0.2s;
  -ms-transition: margin-top 0.5s 0.2s;
  transition: margin-top 0.5s 0.2s;
}
#menu li {
  margin: 0 5px;
  text-align: center;
  float: left;
  min-width: 80px;
  line-height: 40px;
}
@-moz-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg) translate(inherit);
    -moz-transform: rotate(0deg) translate(inherit);
    -o-transform: rotate(0deg) translate(inherit);
    -ms-transform: rotate(0deg) translate(inherit);
    transform: rotate(0deg) translate(inherit);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(inherit);
    -moz-transform: rotate(360deg) translate(inherit);
    -o-transform: rotate(360deg) translate(inherit);
    -ms-transform: rotate(360deg) translate(inherit);
    transform: rotate(360deg) translate(inherit);
  }
}
@-webkit-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg) translate(inherit);
    -moz-transform: rotate(0deg) translate(inherit);
    -o-transform: rotate(0deg) translate(inherit);
    -ms-transform: rotate(0deg) translate(inherit);
    transform: rotate(0deg) translate(inherit);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(inherit);
    -moz-transform: rotate(360deg) translate(inherit);
    -o-transform: rotate(360deg) translate(inherit);
    -ms-transform: rotate(360deg) translate(inherit);
    transform: rotate(360deg) translate(inherit);
  }
}
@-o-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg) translate(inherit);
    -moz-transform: rotate(0deg) translate(inherit);
    -o-transform: rotate(0deg) translate(inherit);
    -ms-transform: rotate(0deg) translate(inherit);
    transform: rotate(0deg) translate(inherit);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(inherit);
    -moz-transform: rotate(360deg) translate(inherit);
    -o-transform: rotate(360deg) translate(inherit);
    -ms-transform: rotate(360deg) translate(inherit);
    transform: rotate(360deg) translate(inherit);
  }
}
@-ms-keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg) translate(inherit);
    -moz-transform: rotate(0deg) translate(inherit);
    -o-transform: rotate(0deg) translate(inherit);
    -ms-transform: rotate(0deg) translate(inherit);
    transform: rotate(0deg) translate(inherit);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(inherit);
    -moz-transform: rotate(360deg) translate(inherit);
    -o-transform: rotate(360deg) translate(inherit);
    -ms-transform: rotate(360deg) translate(inherit);
    transform: rotate(360deg) translate(inherit);
  }
}
@keyframes revolution {
  0% {
    -webkit-transform: rotate(0deg) translate(inherit);
    -moz-transform: rotate(0deg) translate(inherit);
    -o-transform: rotate(0deg) translate(inherit);
    -ms-transform: rotate(0deg) translate(inherit);
    transform: rotate(0deg) translate(inherit);
  }

  100% {
    -webkit-transform: rotate(360deg) translate(inherit);
    -moz-transform: rotate(360deg) translate(inherit);
    -o-transform: rotate(360deg) translate(inherit);
    -ms-transform: rotate(360deg) translate(inherit);
    transform: rotate(360deg) translate(inherit);
  }
}
@-moz-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  100% {
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-ms-keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@keyframes progressBar {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  10% {
    width: 0%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  10% {
    width: 0%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  10% {
    width: 0%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-ms-keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  10% {
    width: 0%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes progressWidth {
  0% {
    width: 0%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }

  10% {
    width: 0%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  20% {
    width: 30%;
  }

  30% {
    width: 35%;
  }

  40% {
    width: 60%;
  }

  90% {
    width: 100%;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }

  100% {
    width: 100%;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(244,244,244,0.6), -2px 2px 6px rgba(244,244,244,0.6), -4px 6px rgba(244,244,244,0.6), 0px 6px rgba(244,244,244,0.6);
  }

  10% {
    text-shadow: 2px 2px 8px #f4f4f4, -2px 2px 8px #f4f4f4, -4px 8px #f4f4f4, 0px 8px #f4f4f4;
  }
}
@-webkit-keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(244,244,244,0.6), -2px 2px 6px rgba(244,244,244,0.6), -4px 6px rgba(244,244,244,0.6), 0px 6px rgba(244,244,244,0.6);
  }

  10% {
    text-shadow: 2px 2px 8px #f4f4f4, -2px 2px 8px #f4f4f4, -4px 8px #f4f4f4, 0px 8px #f4f4f4;
  }
}
@-o-keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(244,244,244,0.6), -2px 2px 6px rgba(244,244,244,0.6), -4px 6px rgba(244,244,244,0.6), 0px 6px rgba(244,244,244,0.6);
  }

  10% {
    text-shadow: 2px 2px 8px #f4f4f4, -2px 2px 8px #f4f4f4, -4px 8px #f4f4f4, 0px 8px #f4f4f4;
  }
}
@-ms-keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(244,244,244,0.6), -2px 2px 6px rgba(244,244,244,0.6), -4px 6px rgba(244,244,244,0.6), 0px 6px rgba(244,244,244,0.6);
  }

  10% {
    text-shadow: 2px 2px 8px #f4f4f4, -2px 2px 8px #f4f4f4, -4px 8px #f4f4f4, 0px 8px #f4f4f4;
  }
}
@keyframes neon {
  0%, 30%, 100% {
    text-shadow: 2px 2px 6px rgba(244,244,244,0.6), -2px 2px 6px rgba(244,244,244,0.6), -4px 6px rgba(244,244,244,0.6), 0px 6px rgba(244,244,244,0.6);
  }

  10% {
    text-shadow: 2px 2px 8px #f4f4f4, -2px 2px 8px #f4f4f4, -4px 8px #f4f4f4, 0px 8px #f4f4f4;
  }
}
