header {
  height: 100px;
}
#header-logo-container {
  height: 100px;
}
#main-section {
  padding-top: 100px;
  text-align: center;
}
#main-section h2 {
  margin: 50px 0;
}
#home h4 {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 10px;
}
#home img {
  width: 100%;
}
