.btn	
	box-shadow:	0 0 2px 0px black,
				inset 1px 1px 1px 0 rgba(white,.6),
				inset -1px -1px 1px 0 rgba(black,.4)	
	border-radius 1px
	cursor pointer	
	backface-visibility  hidden
	transition background-position 1s, transform .5s, border .5s, box-shadow .5s
	&:hover	
		transform(translate3D(0,1px,0))
		box-shadow : 0 0 2px 0px black,
					inset 1px 1px 1px 0 rgba(white,.1),
					inset -1px -1px 1px 0 rgba(black,.1);
		

.popup
	position  fixed
	width 100%
	height 50px
	line-height 50px
	top -50px
	z-index 999	
	text-align center
.popup-red
	background radial-gradient(top,lighten(red,10%),red,darken(red,20%))
	box-shadow 0 0 2px 0,
				inset 1px 1px 6px 1px darken(red,30%),
				inset -1px -1px 6px 1px lighten(red,30%)
.popup-green
	background radial-gradient(top,lighten(green,10%),green,darken(green,20%))
	box-shadow 0 0 2px 0,
				inset 1px 1px 6px 1px darken(green,30%),
				inset -1px -1px 6px 1px lighten(green,30%)


#main-section		
	width  100%
	> div			
		max-width 1000px
		width 100%
		padding 0 20px
		margin 0 auto
		box-sizing border-box
		> section:first-child
			padding-top  120px
			transition padding-top .5s .2s
			
		
	
	
section
	position relative
	padding 20px 12.5%
	width 100%
	overflow auto
	cursor default
	float left
	border-radius 1px
	box-shadow 0 0 1px 0 black
	box-sizing border-box 
	.btn		
		border-radius 4px				
		height 40px
		line-height 40px
		border 3px solid darken(rgba(c2,.7),20%)			
		&:hover
			border-color darken(rgba(c2,.9),20%)
			
	
	&:nth-of-type(2n + 1)
		background radial-gradient(top,white,c,darken(c,10%) 99%)
	
	&:nth-of-type(2n + 2)	
		background radial-gradient(top,white,darken(white,2%),darken(white,10%) 99%)					
	
	.title:after
		content ''
		position relative
		display inline-block
		width 100%
		height 2px
		margin-bottom 20px
		border-radius 50%
		background linear-gradient(left,rgba(0,0,0,0),lighten(black,40%),black,lighten(black,40%),rgba(0,0,0,0))
		
	
	.text
		margin 5px 15px
		
		
	
.two-row
	width 50%
	padding 5px 5%		

.third-row
	width 33.333%
	padding 5px 2.5%

.mh-100
	min-height 100px
	
.meter
	position relative
	margin 5px	
	height 8px
	cursor wait
	border-radius 2px
	background rgba(255, 255, 255, .4)
	box-shadow  0 0 1px 0 rgba(black,.8),
							0 0 3px 1px rgba(black,.6)
	span
		display block 
		position relative
		height 100%  
		animation progressWidth 10s infinite  
		background darken(c,35%)	
		&:before
			content ''
			position  absolute        		
			border-radius 1px
			top 0
			left 0
			right 0
			bottom 0
			background-size 50px 50px
			overflow hidden
			box-shadow inset -1px -1px 1px 0px black,
								 inset 1px 1px 1px 0px rgba(white,.6)
			animation progressBar 2s linear infinite
			background-image linear-gradient(-45deg, 
						      transparent 25%, 
						      darken(c,5%) 25%, 
						      darken(c,5%) 50%, 
						      transparent 50%, 
						      transparent 75%, 
						      darken(c,5%) 75%, 
						      darken(c,5%))
        	
        	
       
	
footer
	position absolute
	border-top 1px solid darken(c,40%)
	bottom  0
	width  100%
	height  50px
	box-shadow 0 0 4px 2px black
	background radial-gradient(bottom,darken(white,5%),white)
	opacity .7
	box-sizing border-box
	overflow hidden
	&:after
		content ''
		opacity 0
		bottom 0
		left 0
		right 0
		top 0
		position  absolute
		width  100%
		height  100%
		background-image radial-gradient(bottom,rgba(darken(c2,45%),.5),white)
		transition opacity .5s
	
	.btn
		position  relative
		z-index  1
		width  100px
		height  100%
		line-height  300%
		padding  0 10px
		text-align  center
		box-sizing border-box
		&:hover				
			background-position 100px
			
				
#debug-css
	float left		
	background-image linear-gradient(left,red,darken(red,10%))
	
.footer-after:after
		opacity  1
		
	
#footer-earth
	position absolute
	z-index -999
	bottom 0
	width 100%
	height 100%
	overflow hidden
	&:after
		content '\f0ac'
		z-index -1
		position absolute
		font-family FontAwesome
		font-size 500px
		bottom  -300px
		right -120px
		color c
		stroke(1,2px,rgba(black,.6))	
		//animation(rotate 180s infinite linear) //BUG LE MENU SUR CHROME Oo"