@import 'nib'

//VARS
c = #efefef
c2 = #2c3e50

.mw480,
.mw481
	transition opacity .5s 

/* 1024p */
@media screen and (min-width: 1025px) 
	.mw1024
		display none 	

@media screen and (max-width: 1024px) 
	.mw1024
		display inherit 	


/* 640p */
@media screen and (min-width: 769px) 
	.mw640
		display none 	
	.mw641
		display inherit 	
	

@media screen and (max-width: 768px) 
	.mw640
		display inherit 
	.mw641
		display none
	.header-min
		#menu
			top 50px	
	#menu
		position absolute
		z-index 3
		width 210px
		height auto
		right -@width
		top 100px
		opacity 0
		padding 5px 5px
		border-radius 2px
		box-shadow 0 0 2px 0px black
		background radial-gradient(top,white,c,darken(c,5%) 99%)		
		transition top .5s 0.8s ,right .5s 0.8s,opacity .6s 0.8s
		li
			float none
			margin 5px 5px
			height 40px
			line-height 40px
			border 2px solid c2
		
	
	#nav-menu:hover ~ #menu,
	#menu:hover
		right 0px !important
		opacity 1 !important
		transition top .5s 0.4s ,right .5s 0.4s,opacity .6s 0.4s

		
		
	
	#nav-user-info span
		width 20px		
	
	#nav-user-name:after
		opacity0
		transition opacity 0s
	form
		max-width 100% 
		margin-left 0
	


/* 480p */
@media screen and (min-width: 481px) 
	.mw480
		display none 
	.mw481
		display inherit  		

@media screen and (max-width: 480px) 
	.mw480
		display inherit 
	.mw481
		display none 
	.btn:after
		display none !important
	.ul-icon
		li
			width 100% !important
			float none 



@media screen and (max-height: 600px) and (max-width: 768px) 
	header
		height 50px	
		padding-top 5px
		border-width 2px 
		box-shadow 0 0 2px 0px black
		#menu
			top 50px
	#main-section 
		padding-top 50px
	




				
			
