lh = 40px
header
	position fixed
	top 0
	opacity 0.9
	width 100%
	height 100px
	border-bottom 1px solid darken(c,40%)
	z-index 2		
	background c
	box-sizing border-box
	background radial-gradient(top,white,c,darken(c,5%) 99%)
	transition top .5s .2s, height .5s .2s, box-shadow .5s			
	.btn
		overflow hidden
		height 100%
		border-radius 1px	
		box-sizing border-box
		 
	h4
		@extend .text-btn
		position relative
		float right
		height 100%
		line-height lh
		padding 0 20px 
		
#header-logo-container
	position relative
	z-index 3
	float left
	height 100px
	padding 0 10px 
	text-align center
	overflow hidden
	transition height .5s .2s
	&:hover
		/*span
			&:nth-child(n)
				opacity 1
				margin-left 0
				transform none		
				animation-play-state running*/
		
		
	span
		height 100%
		line-height lh 
		font-size 22px
		letter-spacing -2px 
		display inline-block
		backface-visibility hidden
		transition 1s .2s all	ease-in-out
		animation none !important
		for row in 1..9
			&:nth-child({row})		
				animation ty1 3s 1s+(row/10) ease-in-out infinite !important
		/*&:nth-child(n)
			opacity 0		
			//animation ty1 3s 0s+(row/10) ease-in-out infinite
		&:nth-child(1)
			font-size 40px
			opacity 1
			margin-left 40px
		&:nth-child(6)			
			font-size 40px
			opacity 1
			margin-left -70px*/
				
.header-min
	height 50px	
	box-shadow0 0 2px 0px black
	#header-logo-container
		height 70px



//USER INFO
#nav-user-info
	position relative
	float right
	margin-right 1px
	span
		float left
		margin 0 10px
		line-height lh
		text-align center
		text-shadow 0 0 1px black
		overflow hidden
		transition width .5s
		&:before
			color c
			padding 0 5px
			font-family FontAwesome

#nav-user-name:before	
	content '\f007' 
#nav-user-stockage:before
	content '\f0a0' 


	
	

#nav-exit
	width 40px
	float right				
	&:before
		content '\f011'
		position relative
		display inline-block
		font-family FontAwesome
		font-size 25px
		width 40px
		color c	
		line-height lh
		text-align center
		stroke 0,1px,black

/*MENU*/	
#nav-menu
	position relative
	width 40px
	float right			
	line-height lh		
	&:before
		content '\f085'
		position relative
		display inline-block
		font-family FontAwesome
		font-size 25px
		color c
		padding 12px 6px
		padding-top 0
		stroke(0,1px,black)
				
	

#menu
	position relative
	float right
	height 100%
	box-sizing border-box
	li		
		@extend .text-btn			
		float left
		margin-right 1px		
		min-width 80px
		line-height lh
