@import 'nib'
red = #e74c3c
#page_404
	position relative
	margin-top 100px !important
	height 300px
	z-index 1
	background linear-gradient(10deg,rgba(darken(red,25%),.9),rgba(darken(red,5%),.8))
	box-sizing border-box
	.btn
		position  absolute
		left  10pxright  10pxbottom  10px
		text-align  center
		background  lighten(red,2%)
		font-size  30px
	
	h1,h2			
		text-align  center
		font-family  'Press Start 2P', cursive
		line-height 150px
	h1
		font-size  6vw
	h2		
		font-size  3vw