@import 'nib'

#Files,
#Folders
	float left
	height 500px
	overflow auto
	background #FFF
	box-shadow 0 0 1px 0
	box-sizing border-box
	padding 10px 
#Files
	width calc(60% - 10px)
	margin-right 10px
#Folders
	width 40%

.file
	&:before
		content ""
		display inline-block
		position relative
		margin-right 5px
		width 5px
		height @width
		border-radius 50%
		background black 
		box-sizing border-box
	span
		float right

.folder
	&.actual
		background #ccc
		padding-top 5px
		padding-bottom 5px
		border-radius 4px
		&:before
			content ""
			display inline-block
			position relative
			margin-right 5px
			width 5px
			height @width
			border-radius 50%
			background black 
			box-sizing border-box