@import 'nib'
home_h = 100px
header
	height home_h
#header-logo-container
	height home_h
#main-section
	padding-top home_h 
#home
	text-align center
	height 950px
	h2
		margin-bottom 20px	
	h4		
		max-width 200px
		margin 0 auto
		margin-bottom 10px	
	img
		width 100%
	
